<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}" />
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row row-flex">
        <div  align="center" class=" col-md-3 col-xs-12 col-sm-3 col-lg-3" style="background-color:lavender" >
            <div class="text"><p> ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></p></div>
        </div>
        <div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6" style="background-color:lavenderblush">
            <form th:action="@{/admin/allUsers}" method="get">
                <button class="btn btn-md btn-info btn-block" type="Submit">Переглянути список усіх користувачів</button>
            </form>
        </div>
        <div class=" col-md-3 col-xs-12 col-sm-3 col-lg-3" >
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Logout</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/admin/userRegistration}"
                  th:object="${user}" method="post" class="form-horizontal" role="form">
                <h2>Форма реєстрації користувача</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Прізвище та ім'я"
                               class="form-control" />
                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<div class="col-sm-9">-->
                <!--<label	th:if="${#fields.hasErrors('company')}" th:errors="*{company}"-->
                <!--class="validation-message"></label>-->
                <!--<input type="text" th:field="*{company}"-->
                <!--placeholder="Назва дилера або ГПО" class="form-control" />-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Пароль" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Тип користувача</label>
                        <select th:field="*{userType}">
                            <option th:value="DTH">DTH</option>
                            <option th:value="OTT">OTT</option>
                            <option th:value="ADMIN">ADMIN</option>
                            <option th:value="VIASAT">VIASAT</option>
                            <option th:value="WAREHOUSE">WAREHOUSE</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Організація</label>
                        <select th:field="*{company}">
                            <option th:each="company : ${allCompanies}" th:value="${{company.name}}" th:text="${company.name}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Зареєструвати користувача</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>